<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>fonts</string>
	<key>SUAutomaticallyChecksForUpdates</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/SidhuK/WardenApp/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zy27GPZG8BbcdAin1+VMl7myxJzsh2+tXJiaL42ii3Y=</string>
	<key>SUShowReleaseNotes</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FiraCode-VF.ttf</string>
	</array>
</dict>
</plist>
